{% extends 'base.html.twig' %}

{% block title %}Modifier Action{% endblock %}

{% block body %}
{% block content %}
<body style="background-color: #e9edf2;">
<h2 style="text-align:center; position:absolute;top:120px;left:750px;">
Modification d'une action                   
                    
</h2>

    {{ include('action/_form.html.twig', {'button_label': 'Modifier une action !'}) }}

{% endblock %}
{% endblock %}